.title {
    -fx-font-size: 78px;
    -fx-font-style: italic;
    -fx-font-family: 'Kaushan Script';
}

.language-container {
    -fx-background-color: #45ABC2;
    -fx-border-color: #45ABC2;
    -fx-border-radius: 10px;
}

.language {
    -fx-font-size: 45px;
    -fx-font-weight: 700;
    -fx-font-family: 'Kaushan Script';
}

.border {
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.selected-language-box {
    -fx-border-color: lightgray;
    -fx-border-width: 3;
    -fx-background-color: rgb(255, 255, 255, 0.7);
    -fx-padding: 10;
}