.select-cars-text {
    -fx-font-size: 3em;
    -fx-font-weight: 800;
    -fx-background-color: rgb(0, 0, 0);
    -fx-text-fill: rgb(255, 255, 255);
    -fx-padding: 3 5 3 5;
    -fx-border-radius: 5;
    -fx-border-color: rgb(255, 255, 255);
}

.select-cars-stats {
    -fx-font-size: 2em;
    -fx-font-weight: 600;
    -fx-background-color: rgb(128, 128, 128);
    -fx-text-fill: rgb(255, 255, 255);
    -fx-padding: 3 5 3 5;
    -fx-border-color: rgb(255, 255, 255);
}

.model-stats {
    -fx-font-weight: 600;
    -fx-font-size: 3em;
    -fx-background-color: rgb(0, 0, 0);
    -fx-text-fill: rgb(255, 255, 255);
    -fx-padding: 3 5 3 5;
    -fx-border-color: rgb(255, 255, 255);
}

.led-button {
    -fx-font-weight: 600;
    -fx-font-size: 3em;
    -fx-background-color: rgb(255, 255, 255);
    -fx-text-fill: rgb(0, 0, 0);
    -fx-padding: 3 5 3 5;
    -fx-border-color: rgb(0, 0, 0);
}

.response {
    -fx-font-weight: 600;
    -fx-font-size: 1em;
    -fx-background-color: rgb(0, 0, 0);
    -fx-text-fill: rgb(255, 255, 255);
    -fx-padding: 3 5 3 5;
    -fx-border-color: rgb(255, 255, 255);
}