.start-button {
    -fx-min-width: 100vh;
    -fx-min-height: 100vh;
}

.start-text {
    -fx-font-size: 8em;
    -fx-font-weight: 800;
}

.press-key {
    -fx-font-size: 5em;
    -fx-font-weight: 700;
}